.vierkant {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.rechthoek {
    
    width: 200px;
    height: 100px;
    border: 1px solid black;

}


.rood {
    background-color: red;
}

.groen {
    background-color: green;
}

.blauw {
    background-color: blue;
}

.geel {
    background-color: yellow;
}
.oranje {
    background-color: orange;
}

